<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="vacancy_block">
        <p class="white fs20">МЕНЕДЖЕР</p>
        <div class="vacancy_item">
            <p>
               <b>ADVANCE</b> — Рекламно-производственная компания. Наша компания занимается разработкой и производством рекламной, полиграфической и сувенирной продукции. Развиваем направление продаж ЭКО сувениров с персонализацией, в связи с этим у нас открыта вакансия <b>«Менеджер по продажамм»</b>!
            </p>
            <p>
                <b>Мы предлагаем:</b>
            </p>
            <ul>
                <li>График работы c 10.00 до 19.00, пятидневная рабочая неделя.</li>
                <li>Выплата заработной платы 2 раза в месяц.</li>
                <li>Оплачиваемый больничный и отпуск.</li>
                <li>Постоянная помощь коллег и руководства в работе.</li>
                <li>Комфортные условия для работы, офис и производство в одном месте</li>
             </ul>
             <p>
                <b>Для нас важно:</b>
             </p>
             <ul>
                <li>Опыт общения с заказчиками и клиентами</li>
                <li>Грамотная и развитая речь</li>
                <li>Знание рекламной и сувенирной продукции</li>
                <li>Умение быстро находить решения для требований заказчиков</li>
                <li>Чувство стиля и желание работать в команде, стремление к постоянному развитию.</li>
                <li>Желательно наличие знаний допечатной подготовки, технологии полиграфического и рекламного производства.</li>
                <li>Желателен опыт работы в рекламной или маркетинговой компании</li>
             </ul>
             <p>
                <b>Задачи на должности:</b>
             </p>
             <ul>
                 <li>Работа с холодной и горячей базой клиентов.</li>
                 <li>Поиск и ведение заказов.</li>
                 <li>Просчет наружной рекламы, вывесок, букв, конструкций.</li>
                 <li>Просчет полиграфической продукции: каталоги, буклеты, брошюры, инструкции, плакаты, визитки.</li>
                 <li>Продажа брендированной одежды</li>
                 <li>Работа с уже действующими и постоянными заказчиками</li>
                 <li>Разработка новых заказчиков в сфере B2B</li>
                 <li>Проведение встреч с заказчиками</li>
                 <li>Оформление КП и сопровождение сделок, подписание контрактов, документооборот.</li>
             </ul>
             <p>
                Для того, чтобы начать с нами работать, Вам необходимо связаться с нами по телефону указанному в <a href="/contacts" class="m_li">Контактах</a>
             </p>
        </div>
        <p class="orange t_btn">Читать дальше</p>
    </div>
</body>
</html>